<!DOCTYPE html>
<html>
  <head>
    <title> Home | New News </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
   <body>
<img id="bg-img" src="https://static8.depositphotos.com/1031551/1042/i/950/depositphotos_10425436-stock-photo-stacks-of-old-newspapers-and.jpg"></img>
<div class="container">
  <div class="jumbotron " style="opacity: 1; background-color: rgba(180,180,180,0); color: white; text-shadow: 1px 1px 3px black;">
    <h1 class="display-3"><b>Welcome to The Daily</b></h1><br>
    <p class="jumbo-text">The Daily is a web application designed to streamline the process of finding top headlines and relevant news articles.</p>
    <hr class="my-4">
    <p class="jumbo-text">You can sort through and find news articles specific to entertainment, sports, and technology. Click one of the three buttons below to get started!</p>
      <br>
      <br>
      <div class="row justify-content-center">
      <a class="btn btn-primary btn-lg mx-3" style="padding-left: 30px; padding-right: 30px;" href="/entertainment" role="button">Entertainment</a>
      <a class="btn btn-danger btn-lg mx-3" style="padding-left: 30px; padding-right: 30px;" href="/sports" role="button">Sports</a>
      <a class="btn btn-success btn-lg mx-3" style="padding-left: 30px; padding-right: 30px;" href="/technology" role="button">Technology</a>
      </div>
  </div>
</div>
<br><hr>
<p align="center">Capital One Software Engineering Summit 2020</p>
</body>
<style>
  #bg-img {
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -9999;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
  }
  img {
      filter: blur(15px);
      -webkit-filter: blur(10px);
      flex-shrink: 0;
      min-width: 100%;
      object-fit: cover;
  }
  #footer {
      color: lightgray;
  }
  .jumbo-text{
      font-size: 170%;
      font-weight: 300;
  }
</style>
</html>
