{% extends "base.html" %}

{% block title %}
Technology
{% endblock %}

{% block content %}
<p class="h2 text-center">Technology News</p>
<p class="lead text-center">
  Can't find the technology article you're looking for? Try the search bar.
</p>
<div class="row justify-content-center">
<form class="form-inline" action="/technology" method="POST">
    <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
    <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search Technology">
</form>
</div>
<br>
{% for key, value in articles.items() %}
<div>
  {% if key != 'No title'%}
    <p class="h5"><a href={{ value[0]}}>{{ key }}</a>
  {% endif %}
  {% if value[2] != 'No author'%}
    <p class="lead">{{ value[2] }}</p>
  {% endif %}
  <p>{{ value[1] }}</p>
</div>
{% endfor %}
{% endblock %}
